<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FreshManager</title>
    <link rel="stylesheet" href="../static/bulma/css/bulma.css">
  </head>

  <body>
      {% include 'navbar.html' %}

  <section class="section">
        <div class="container">
            <h1 class="is-size-1 is-italic">Столовая FRESH - </h1>
            <p class="subtitle is-4">Тула, Рязанская  улица, 7</p>
        </div>
    </section>

<figure class="image">
<a> <img src='https://i.postimg.cc/Xqc7YbSm/bg.jpg' border='0' alt='bg'></a>
<!--<a href='https://postimg.cc/8fcVZxCm' target='_blank'><img src='https://i.postimg.cc/Xqc7YbSm/bg.jpg' border='0' alt='bg'/></a>-->
</figure>

            <nav class="navbar is-success has-shadow">
    <!-- logo / brand -->
    <div class="navbar-brand">
    <section class="section">
        <div class="container">
                <h1 class="is-size-1 is-italic">FreshManager -</h1>
                <h1 class="is-size-3 mb-3">Ваш удобный инструмент для управления столовой Fresh!</h1>
                <h1 class="is-size-4 mb-3">Здесь можно:</h1>
                <h1 class="is-size-4 mb-3"> - добавить новые позиции в меню или убрать неактуальные;</h1>
                <h1 class="is-size-4 mb-3"> - изменить рецепт блюда, его стоимость и количество в наличии;</h1>
                <h1 class="is-size-4 mb-3"> - проверить количество ингредиентов на складе;</h1>
                <h1 class="is-size-4 mb-3"> - просмотреть и обновить сведения о сотрудниках;</h1>
                <h1 class="is-size-4 mb-3"> - просмотреть сведения о заказах клиентов и многое другое!</h1>
            </div>
    </section>
    </div>
  </nav>




  </body>
</html>