<nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

<nav class="navbar is-success has-shadow">
    <!-- logo / brand -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://i.postimg.cc/Bj9rDdsK/fresh.png" style="max-height: 70px" class="py-2 px-2">
      </a>
    </div>
  </nav>

    <div class="navbar is-success">
        <div id="navbarBasicExample" class="navbar-menu">
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/">Личный кабинет</a>
            </button>
            <button class="button is-success is-medium ">
                <a class="navbar-item" href="/show/dish">Блюда</a>
            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/dish_order">Состав заказа</a>

            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/dish_ingredient">Состав блюда</a>

            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/ingredient">Ингредиенты</a>

            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/orders">Заказы</a>

            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/employees">Сотрудники</a>

            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/show/order_employee">Заказы сотрудников</a>
            </button>
            <button class="button is-success is-medium">
                <a class="navbar-item" href="/statistics">Статистика</a>
            </button>

        </div>
    </div>
    </div>

</nav>