<!--<section class="section">-->
<!--    <div class="container">-->
<!--        <h1 class="title">Вставить в таблицу: {{ table_name }}</h1>-->
<!--        <form action="{{ url_for('add_data') }}" method="post">-->
<!--            <input type="hidden" name="table_name" value="{{ table_name }}">-->
<!--            <div class="field">-->
<!--                <label class="label">Название блюда:</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" name="name" required type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Цена в меню:</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" name="price" required type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Себестоимость:</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" name="production_cost" required type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Количество порций в наличии:</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" name="quantity" required type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <div class="control">-->
<!--                    <button class="button is-primary" type="submit">Добавить позицию</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->